.overview {
  margin: 24px 20px;
  border-radius: 8px;
  padding: 16px 25.71px;
  background-color: #ffffff;
  display: block;
}

.overview_general h1 {
  font-size: 16px;
  font-weight: 500;
  color: #343234;
}

.overview_header {
  display: flex;
  align-items: center;
  gap: 60%;
}

.overview_moviment {
  margin: 24px 0 16px;
}

.overview_moviment h2 {
  font-size: 12px;
  font-weight: 400;
  color: #888689;
  margin-bottom: 0;
}

.overview_moviment h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ff4501;
  margin-top: 0;
}

.overview_transactions p {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.overview_transactions h2 {
  font-size: 12px;
  font-weight: 400;
  color: #888689;
  margin-bottom: 0;
}

.overview_style {
  background-color: #e3e2e3;
  height: 1px;
}

.overview_papers div {
  display: flex;
  align-items: center;
}

.overview_papers hr {
  border: none;
  border-top: 1px dashed #c5c5c5;
  flex: 1;
  margin: 0 8px;
}

.papers_transactions {
  background-color: #00b39d;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 6px;
}

.papers_value {
  font-size: 12px;
  color: #888689;
}

.papers_value span {
  font-weight: bold;
  color: #343234;
}
