.overview {
  max-width: 100vw;
  height: fit-content;
  margin: 24px 20px;
  border-radius: 8px;
  padding: 16px 25.71px;
  background-color: #ffffff;
  display: block;
}

.overview_general h1 {
  font-size: 16px;
  font-weight: 500;
  color: #343234;
}

.overview_moviment {
  padding: 24px 0 16px;
}

.overview_transactions p {
  font-size: 20px;
}

.overview_header {
  display: flex;
  align-items: center;
  gap: 70%;
}


.overview_moviment h2 {
  font-size: 12px;
  font-weight: 400;
  color: #888689;
}

.overview_moviment h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ff4501;
}

.overview_style {
  background-color: #e3e2e3;
  height: 1px;
}

.overview_papers {
  height: fit-content;
  width: 100%;
}

.overview_papers div {
  display: flex;
  align-items: center;
}

.overview_papers p {
  margin-right: 10px;
  margin-bottom: 8px;
}

.overview_papers hr {
  border: none;
  border-top: 1px dashed #c5c5c5;
  flex: 1;
  margin-left: 8.57px;
}

.papers_transactions {
  background-color: #00b39d;
  width: 61px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 6px;
}


.papers_value {
  font-size: 12px;
  color: #888689;
}

.papers_value span {
  font-weight: bold;
  color: #343234;
}
