.adicionar_robo{
  max-width: 100%;
  height: fit-content;
  margin: 24px 20px;
  border-radius: 8px;
  padding: 24px 25px;
  background-color: #FFFFFF;
  display: flex;
  box-shadow: 0 1px 4px rgba(151, 151, 151, 0.9);
  cursor: pointer;
}

.adicionar_robo:hover{
  background-color: #f0f0f0d9;
}

.adicionar_robo img {
  border: 2px solid #E3E2E3;
  padding: 25px 21.43px;
  border-radius: 4px;
}

.adicionar_robo h1{
  font-size: 16px;
  font-weight: 500;
  color: #343234;

}

.adicionar_robo p{
  font-size: 12px;
  color: #B1B0B2;
}

.adicionar_robo span{
  font-weight: bold;
  color: #00B9A1;
}

.adicionar_texto{
  padding-left: 26px;
}